{% extends "base.html" %} {% block title %}Профиль{% endblock %} {% block customheadjs %}
<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
{% endblock %} {% block nav %}


<ul class="nav nav-pills nav-stacked custom-nav">
  <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
    <ul class="sub-menu-list">
      <li><a href="admin.php?np=good"><i class="fa fa-search"></i> <span>Обзор</span></a>
      </li>
      <li>
        <a href="admin.php?np=profile">
          <span>Просмотр</span>
        </a>
      </li>

    </ul>
  </li>
  <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a>
  </li>
  <li class="menu-list nav-active "><a href=""><i class="fa fa-home"></i> <span>Контракты</span></a>
    <ul class="sub-menu-list">
      <li class="active"><a href="admin.php?np=kontrakt"><i class="fa fa-book"></i> <span>Обзор</span></a>
      </li>
      <li><a href="admin.php?np=new_kontrakt"><i class="fa fa-plus"></i> <span>Добавить Контракт</span></a>
      </li>
    </ul>
  </li>
  <li><a id="Myunidf" href="#"><i class="fa fa-sign-out"></i> <span>Выход</span></a>
  </li>

</ul>
{% endblock %} {% block heading %}

<div class="page-heading">
  <h3 id="headernames">Наименование организации</h3>
  <ul class="breadcrumb">
    <li><a href="admin.php?np=kontract"> Реестр контрактов</a>
    </li>
    <li class="active">Информация о контракте</li>
  </ul>

</div>
{% endblock %} {% block content %}

<div class="row">
  <form>
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <section class="panel">
            <header class="panel-heading custom-tab dark-tab">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#home2" data-toggle="tab">Информация о контракте</a>
                </li>
                <li class="">
                  <a href="#contact2" data-toggle="tab">Периоды заездов</a>
                </li>
                <li class="">
                  <a href="#newperiod" data-toggle="tab">Добавление периодов заезда</a>
                </li>
              </ul>
            </header>
            <div class="panel-body col-lg-12">
              <div class="tab-content">
                <div class="tab-pane active" id="home2">
                  <div class="col-md-12">
                    <div class="row">

                      <div class="panel">
                        <div class="panel-body">
                          <div class="profile-desk">
                            <div class="form-group">
                                <label for="resttype">Вид отдыха</label>

                                <div id="resttype"></div>
                            </div>
                            <div class="form-group">
                              <label for="nameinp">Наименование организации</label>
                              <input type="text" class="form-control" id="nameinp" required="">
                            </div>

                            <div class="form-group">
                              <div id="celdr"></div>
                            </div>
                            <div class="form-group">
                              <label for="put">Количество путевок</label>
                              <input type="text" class="form-control" id="put" required="">
                            </div>
                            <div class="form-group">
                              <label for="price">Цена контракта</label>
                              <input type="text" class="form-control" id="price" required="">
                            </div>

                            <div class="form-group">
                              <label for="days">Дней &nbsp;прибывания</label>
                              <input type="text" class="form-control" id="days" required="">
                            </div>
                            <div class="form-group">
                              <label for="daysprice">Стоимость одного дня</label>
                              <input type="text" class="form-control" id="daysprice" >
                            </div>
                            <div class="col-md-12">
                              <div class="panel">
                                <div class="panel-body">
                                  <div class="profile-desk">
                                    <div class="btn-group btn-group-justified">
                                      <a class="btn btn-success btn-lg" onclick="sendsave()">Сохранить</a>
                                      <a class="btn btn-danger btn-lg" href="#">Отменить</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>





                </div>
                <div class="tab-pane" id="contact2">
                    <div class="row">
                      <div class="col-lg-12" id="periods"></div>

                    </div>



                </div>
                <div class="tab-pane" id="newperiod">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="panel">
                        <div class="panel-body">
                          <div class="profile-desk">
                            <div id="dpdatestart"></div>
                            <div id="dpdatestop"></div>
                            <div class="form-group">
                              <label for="summinp">Количество путевок</label>
                              <input type="text" class="form-control" id="summinp" required="">
                            </div>
                            <div class="form-group">
                              <label for="serials">Не распределено</label>
                              <input type="text" class="form-control" id="serials" required="" />
                            </div>

                            <div class="form-group">
                              <label for="numofser">Имя смены</label>
                              <input type="text" class="form-control" id="numofser" required="" />
                            </div>
                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-success btn-lg" onclick="addtimecontract()">Добавить</a>
                              <a class="btn btn-danger btn-lg" href="#">Отменить</a>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                 </div>
              </div>
          </section>

          </div>
        </div>
      </div>


  </form>

  </div>

  {% endblock %} {% block customjs %}

  <script>
    var idses = getQueryVariable('id');
    webix.ready(function() {
      webix.ui({
        container: 'celdr',
        view: 'datepicker',
        name: 'date',
        id: 'date',
        width: 400,
        labelWidth: 155,
        label: 'Дата контракта',
        stringResult: true

      });
      webix.ui({
        container: 'dpdatestart',
        view: 'datepicker',
        name: 'dpdatestart',
        id: 'dpdatestart',
        width: 420,
        labelWidth: 155,
        label: 'Начало',
        stringResult: true

      });
      webix.ui({
        container: 'dpdatestop',
        view: 'datepicker',
        name: 'dpdatestop',
        id: 'dpdatestop',
        width: 420,
        labelWidth: 155,
        label: 'Дата контракта',
        stringResult: true

      });
      // start periods
      webix.ui({
        container: 'periods',
        view: 'datatable',
        name: 'datatable',
        id: 'datatable',

        height: 300,
        autowidth:true,
        columns: [
          {
            // Номер
            id: 'number',
            fillspace: true,
            header: 'Смена',
            width: 300,
            sort: 'string'
          }, {
          // Начало
          id: 'startdate',
          header: 'Начало',
          width: 100,
          sort: 'string',
          format: webix.Date.dateToStr('%Y-%m-%d')
        }, {
          // Окончание
          id: 'enddate',
          header: 'Окончание',
          width: 100,
          sort: 'string',
          format: webix.Date.dateToStr('%Y-%m-%d')
        }, {
          // Кол-во Путевок
          id: 'summ',
          fillspace: true,
          header: 'Кол-во Путевок',
          width: 150,
          sort: 'int'
        }, {
          // Серия
          id: 'nerasp',
          header: "Не распределено",
            width: 200,
          sort: 'string'
        }],
        url: "select/select_periods.php?ides=" + idses,select: 'row',
        onContext:{}


      });
      //end periods
        webix.ui({
            container:'resttype',
            view:'combo',
            id:'resttypecombo',
            options:'select/resttypeall.php'
        });

    });
  </script>
  <script>
    function gid(eid) {
      return document.getElementById(eid);
    }

    var ids = getQueryVariable('id');
    webix.ready(function() {
      webix.ajax('select/getprofilekontrakt.php?id=' + ids, function(text) {
        var jsons = jQuery.parseJSON(text);


        gid('headernames').innerHTML = jsons[0].name;
        gid('nameinp').value = jsons[0].name;
        gid('put').value = jsons[0].put;
        gid('price').value = jsons[0].price;
        gid('days').value = jsons[0].days;
        $$('resttypecombo').setValue(jsons[0].types);
        $$('date').setValue(jsons[0].date);
        gid('daysprice').value = jsons[0].daysprice ;
// parseInt(jsons[0].price) / parseInt(jsons[0].days)
      });
      webix.ui({
           view:"contextmenu",
           id:"cmenu",
           data:["Удалить"],
           on:{
               onItemClick:function(id){
                   var context = this.getContext();
                   //delete
                   if(this.getItem(id).id=="Удалить"){
                       webix.ajax("delete/deletefromperiods.php?id="+context.id);
                       $$("datatable").remove(context.id);
                   }

               }
           }
       });
       $$("cmenu").attachTo($$("datatable"));
    });

    function addtimecontract() {
      webix.ajax("insert/insert_new_periods.php?startdate=" + $$("dpdatestart").getValue() +
        "&enddate=" + $$("dpdatestop").getValue() +
        "&summ=" + gid('summinp').value +
        "&serial=" + gid('serials').value +
        "&number=" + gid('numofser').value +
        "&idcontract=" + ids, {
          success: function(text) {
            if (text == 0) {
              webix.alert({
                text: "Данные добавлены"
              });
              $$("datatable").load("select/select_periods.php?ides=" + idses);
            } else {
              webix.alert({
                type: "alert-warning",
                text: "Повторите позже"
              });
            }
          }
        },

        {
          error: function(text, data, XmlHttpRequest) {
            webix.alert({
              text: "Повторите позже"
            });
          }
        }



      );

    }

    function sendsave() {
      webix.ajax("update/updatedbkontrakt.php?nameinp=" + gid('nameinp').value +
        "&put=" + gid('put').value +
        "&price=" + gid('price').value +
        "&days=" + gid('days').value +
        "&daysprice=" + gid('daysprice').value +
        "&date=" + $$('date').getValue() +
        "&types="+$$('resttypecombo').getValue()+
        "&ids=" + ids, {
          success: function(text) {
            if (text == 0) {
              webix.alert({
                text: "Данные обновлены"
              });
            } else {
              webix.alert({
                type: "alert-warning",
                text: "Повторите позже"
              });
            }
          }
        }, {
          error: function(text, data, XmlHttpRequest) {
            webix.alert({
              text: "Повторите позже"
            });
          }
        }
      );
    }
    gid('put').onkeypress = function(e) {
      return !(/[А-Яа-яA-Za-z ]/.test(String.fromCharCode(e.charCode)));
    };
    gid('price').onkeypress = function(e) {
      return !(/[А-Яа-яA-Za-z ]/.test(String.fromCharCode(e.charCode)));
    };
    gid('days').onkeypress = function(e) {
      return !(/[А-Яа-яA-Za-z ]/.test(String.fromCharCode(e.charCode)));
    };
    gid('summinp').onkeypress = function(e) {
      return !(/[А-Яа-яA-Za-z ]/.test(String.fromCharCode(e.charCode)));
    }


  </script>
  {% endblock %}
