{% extends "base.html" %} {% block title %}Профиль{% endblock %} {% block customheadjs %}
    <script>
        var idsmena;
    function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
{% endblock %} {% block nav %}


<ul class="nav nav-pills nav-stacked custom-nav">
  <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
    <ul class="sub-menu-list">
      <li><a href="admin.php?np=good">Обзор</a>
      </li>
      <li>
        <a href="#">
          Просмотр
        </a>
      </li>

    </ul>
  </li>
  <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a>
  </li>
  <li class="menu-list nav-active "><a href=""><i class="fa fa-building-o"></i> <span>Контракты</span></a>
    <ul class="sub-menu-list">
      <li class="active"><a href="admin.php?np=kontrakt">Обзор</a>
      </li>
      <li><a href="admin.php?np=new_kontrakt">Добавить Контракт</a>
      </li>
    </ul>
  </li>
  <li><a id="Myunidf" href="admin.php"><i class="fa fa-sign-out"></i> <span>Выход</span></a>
  </li>

</ul>
{% endblock %} {% block heading %}

<div class="page-heading">
  <h3 id="headernames">Наименование организации</h3>
  <ul class="breadcrumb">
    <li><a href="admin.php?np=kontract"> Реестр контрактов</a>
    </li>
    <li class="active">Информация о контракте</li>
  </ul>

</div>
{% endblock %} {% block content %}

<div class="row">
  <form>
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body">
          <section class="panel">
            <header class="panel-heading custom-tab dark-tab">
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#home2" data-toggle="tab">Информация о контракте</a>
                </li>
                <li class="">
                  <a href="#contact2" data-toggle="tab">Периоды заездов</a>
                </li>
                <li class="">
                  <a href="#newperiod" data-toggle="tab">Добавление периодов заезда</a>
                </li>
              </ul>
            </header>
            <div class="panel-body col-lg-12">
              <div class="tab-content">
                <div class="tab-pane active" id="home2">
                  <div class="col-md-12">
                    <div class="row">

                      <div class="panel">
                        <div class="panel-body">
                          <div class="profile-desk">
                            <div class="form-group">
                                <label for="resttype">Вид отдыха</label>

                                <div id="resttype"></div>
                            </div>
                            <div class="form-group">
                              <label for="nameinp">Наименование организации</label>
                              <input type="text" class="form-control" id="nameinp" required="">
                            </div>


                              <div class="form-group">
                              <div id="whensid"></div>
                            </div>

                            <div class="col-md-12">
                              <div class="panel">
                                <div class="panel-body">
                                  <div class="profile-desk">
                                    <div class="btn-group btn-group-justified">
                                      <a class="btn btn-success btn-lg" onclick="sendsave()">Сохранить</a>
                                      <a class="btn btn-danger btn-lg" onclick="window.history.back();" href="#">Отменить</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>





                </div>
                <div class="tab-pane" id="contact2">
                    <div class="row">
                      <div class="col-lg-9" id="periods"></div>
                      <div class="col-lg-2" style="display: none;" id="btnsss"></div>

                    </div>
                </div>
                <div class="tab-pane" id="newperiod">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="panel">
                        <div class="panel-body">
                          <div class="profile-desk">
                            <div id="dpdatestart"></div>
                            <div id="dpdatestop"></div>
                            <div class="form-group">
                              <label for="summinp">Количество путевок</label>
                              <input type="text" class="form-control" id="summinp" required="">
                            </div>
                            <div class="form-group">
                              <label for="serials">Не распределено</label>
                              <input type="text" class="form-control" id="serials" required="" />
                            </div>

                            <div class="form-group">
                              <label for="numofser">Имя смены</label>
                              <input type="text" class="form-control" id="numofser" required="" />
                            </div>
                            <div class="btn-group btn-group-justified">
                              <a class="btn btn-success btn-lg" onclick="addtimecontract()">Добавить</a>

                            </div>
                          </div>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                 </div>
              </div>
          </section>

          </div>
        </div>
      </div>


  </form>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  <div id="modaltable"></div>

                    <a class="btn btn-primary" style="margin-left:20px;margin-top: 25px;" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Добавить новый контракт
                    </a>
                    <div class="collapse" id="collapseExample">
                        <div class="well" style=" background-color: transparent;  border: none; ">
                    <div style=" width: 336px; border: solid 1px rgba(0,0,0,.3)" class="panel ">
                        <div class="panel-heading">Добавление нового контракта</div>
                        <div class="panel-body">
                        <input type="text" id="namber" style="width:300px;margin-top: 5px;" placeholder="Номер контракта">
                        <input type="text" id="summs" style="width:300px;margin-top: 5px;" placeholder="Количество путевок">
                        <input type="text" id="price" style="width:300px;margin-top: 5px;" placeholder="Цена контракта">
                        <input type="text" id="pricebyday" style="width:300px;margin-top: 5px;" placeholder="Стоимость одного дня">
                        <div id="datescon"></div>
                        </div>
                        <input class="btn btn-success btn-lg text-center center-block" type="button" value="update selected" onclick="add()"><br>

                    </div>
                            </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
  </div>

  {% endblock %} {% block customjs %}

  <script>
    var idses = getQueryVariable('id');
    var numberofkontract;
    webix.ready(function() {
        webix.ajax('select/numberofkontract.php?id='+idses,function(text) {
          if(jQuery.parseJSON(text)[0].summ==null){
numberofkontract=0;
          }else{
          numberofkontract=jQuery.parseJSON(text)[0].summ;
          }
        });
      webix.ui({
        container:"btnsss",
        id:"btnsss",
        view:"form",
        scroll:false,
        autowidth:true,
        elements:[
          { margin:5, rows:[
            { view:"button", width:150, value:"Вернутся" , click:"$$('views').back();$('#btnsss').toggle();" },
            { view:"button", width:150,value:"Экспорт в Excel", type:"form", click:"$$('userbyperiod').exportToExcel();" }
          ]}]
      });


      webix.ui({
        container: 'dpdatestart',
        view: 'datepicker',
        name: 'dpdatestart',
        id: 'dpdatestart',
        width: 420,
        labelWidth: 155,
        label: 'Начало',
        stringResult: true

      });
      webix.ui({
          container: 'dpdatestop',
          view: 'datepicker',
          name: 'dpdatestop',
          id: 'dpdatestop',
          width: 420,
          labelWidth: 155,
          label: 'Конец',
          stringResult: true
      });
      // start periods

      webix.ui({
        container: "periods",
        id:"views",
        cells:
      [
        {
        view: 'datatable',
        name: 'datatable',
        id: 'datatable',
minWidth:900,
        height: 300,
        columns: [
          {
            // Номер
            id: 'number',            fillspace: true,

            header: 'Смена',
//            width: 300,
            sort: 'string'
          }, {
          // Начало
          id: 'startdate',
          header: 'Начало',
//          width: 100,
          sort: 'string',
          format: webix.Date.dateToStr('%Y-%m-%d')
        }, {
          // Окончание
          id: 'enddate',
          header: 'Окончание',
//          width: 100,
          sort: 'string',
          format: webix.Date.dateToStr('%Y-%m-%d')
        }, {
          // Кол-во Путевок
          id: 'summ',
          fillspace: true,
          header: 'Кол-во Путевок',

//          width: 150,
          sort: 'int'
        }, {
          // Серия
          id: 'nerasp',
          header: "Не распределено",
            fillspace: true,

//            width: 200,
          sort: 'string'
        }],
        url: "select/select_periods.php?ides=" + idses,select: 'row',
        onContext:{},on:
        {
          onItemClick:function() {
          var text = $$("datatable").getSelectedId(true).join();
            $$('userbyperiod').clearAll();
            $$('userbyperiod').load("select/userbypeiod.php?id="+ids+"&smena="+text);
            $$('userbyperiod').show();
            $("#btnsss").toggle();
            }
        }
      },
        {
          view:'datatable',
          name:'userbyperiod',
          id:'userbyperiod',
          height:400,

          select:'row',
          columns:[
            {
              id:'idchild',
              header:"Номер",
//              width:100,
              sort:'string'
            },
            {
              id:'fio',
              header:"Фамилия",
//              width:200,
              fillspace:true,
              sort:'string'
            },
            {
              id:'name',
//              width:200,
              header:"Имя",
              fillspace:true,
              sort:'string'
            },
            {
              id:'last',
//              width:200,
              header:"Отчество",
              sort:'string',
              fillspace:true
            }
          ]
        }

      ]


      });
      //end periods
        webix.ui({
            container:'resttype',
            view:'combo',
            id:'resttypecombo',
            options:'select/resttypeall.php'
        });


    });
  </script>
  <script>
    function gid(eid) {
      return document.getElementById(eid);
    }

    var ids = getQueryVariable('id');

    webix.ready(function() {
      webix.ajax('select/getprofilekontrakt.php?id=' + ids, function(text) {
        var jsons = jQuery.parseJSON(text);

        gid('headernames').innerHTML = jsons[0].name;
        gid('nameinp').value = jsons[0].name;

        $$('resttypecombo').setValue(jsons[0].types);

        $$("whensid").setValue(jsons[0].whens);
// parseInt(jsons[0].price) / parseInt(jsons[0].days)
      });
      webix.ui({
           view:"contextmenu",
           id:"cmenu",
           data:["Детальнее","Удалить"],
           on:{
               onItemClick:function(id){
                   var context = this.getContext();
                   var contextobj = context.obj;
                   //delete
                   if(this.getItem(id).id=="Удалить"){
                       webix.ajax("delete/deletefromperiods.php?id="+context.id);
                       $$("datatable").remove(context.id);
                   }
                   if(this.getItem(id).id=="Детальнее"){
                       idsmena = context.id;
                       $('#myModal').modal('toggle');
                       $("#myModalLabel").text(contextobj.getItem(context.id).number);
                       grid.load("select/getallkontractbysmena.php?ides="+context.id);
                   }

               }
           }
       });
        webix.ui({
           view:"combo",
            id:"whensid",
            container:"whensid",
            label:"Период",
            options: 'select/get_all_whens.php'

        });

       $$("cmenu").attachTo($$("datatable"));
    });
    function addtimecontract() {
      if($$("dpdatestart").getValue() < $$("dpdatestop").getValue()){
      webix.ajax("insert/insert_new_periods.php?startdate=" + $$("dpdatestart").getValue() +
                "&enddate=" + $$("dpdatestop").getValue() +
                "&summ=" + gid('summinp').value +
                "&serial=" + gid('serials').value +
                "&number=" + gid('numofser').value +
                "&idcontract=" + ids, {
                  success: function (text) {
                    if (text == 0) {
                      webix.alert({
                        text: "Данные добавлены", callback:function(result){
                          window.location.reload();
                        }
                      });
                      $$("datatable").load("select/select_periods.php?ides=" + idses);
                      
                    }
                    else {
                      webix.alert({
                        type: "alert-warning",
                        text: "Повторите позже"
                      });
                    }
                  }
                },

                {
                  error: function (text, data, XmlHttpRequest) {
                    webix.alert({
                      text: "Повторите позже"
                    });
                  }
                }
        )
      }
        else
        webix.alert({
          text: "Дата окончания должна быть позже даты начала"
        });

    }

    function sendsave() {
      webix.ajax("update/updatedbkontrakt.php?nameinp=" + gid('nameinp').value +
        "&types="+$$('resttypecombo').getValue()+
        "&whens="+$$('whensid').getValue()+
        "&ids=" + ids, {
          success: function(text) {
            if (text == 0) {
              webix.alert({
                text: "Данные обновлены"
              });
            } else {
              webix.alert({
                type: "alert-warning",
                text: "Повторите позже"
              });
            }
          }
        }, {
          error: function(text, data, XmlHttpRequest) {
            webix.alert({
              text: "Повторите позже"
            });
          }
        }
      );
    }
    webix.ui({
        container:"datescon",
        view: 'datepicker',
        name: 'datescon',
        id: 'datescon',
        width: 300,
        labelWidth: 155,
        label: 'Дата контракта',
        stringResult: true
    });

    var grid, dp;
    function positiveNumber(value){ return value > 0; }
    function getObjects(obj, key, val) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getObjects(obj[i], key, val));
            } else
            //if key matches and value matches or if key matches and value is not passed (eliminating the case where key matches but passed value does not)
            if (i == key && obj[i] == val || i == key && val == '') { //
                objects.push(obj);
            } else if (obj[i] == val && key == ''){
                //only add if the object is not already in the array
                if (objects.lastIndexOf(obj) == -1){
                    objects.push(obj);
                }
            }
        }
        return objects;
    }

    //return an array of values that match on a certain key
    function getValues(obj, key) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getValues(obj[i], key));
            } else if (i == key) {
                objects.push(obj[i]);
            }
        }
        return objects;
    }

    //return an array of keys that match on a certain value
    function getKeys(obj, val) {
        var objects = [];
        for (var i in obj) {
            if (!obj.hasOwnProperty(i)) continue;
            if (typeof obj[i] == 'object') {
                objects = objects.concat(getKeys(obj[i], val));
            } else if (obj[i] == val) {
                objects.push(i);
            }
        }
        return objects;
    }
    webix.ready(function(){
        grid = webix.ui({
            container:"modaltable",
            view:"datatable",
            columns:[
                { id:"id",	header:"#", width:50,	css:"rank"},
                { id:"namber", editor:"text", header:"Номер контракта",width:200},
                { id:"date", editor:"date", format: webix.Date.dateToStr('%Y-%m-%d'),    header:"Дата контракта" , width:150},
                { id:"summ", editor:"text", header:"Путевок", 	width:100},
                { id:"price", editor:"text", header:"Цена&nbsp;контракта", 	width:120},
                { id:"pricebyday", editor:"text", header:"Цена 1 дня", 	width:100},
                { 	id:"",
                    template:"<input class='editbtns ' type='button' value='Изменить'>",
                    css:"padding_less",
                    width:100 },
                { 	id:"",
                    template:"<input class='deletebtns' type='button' value='Удалить'>",
                    css:"padding_less",
                    width:100 }
            ],
            autowidth:true,
            editable:true,
            autoheight:true,
            rules:{
                "price":positiveNumber,
                "pricebyday":positiveNumber,
                "summ":positiveNumber

            },

            on:{
                "onAfterSelect":function(id){
                    document.getElementById("value").value = this.getItem(id.row)[id.column];
                },
                "ready":function(){
                    this.validate();
                }
            }
        });

        grid.on_click.deletebtns=function(e, id, trg){
            //id.column - column id
            //id.row - row id
            var isAdmin = confirm("Удалить?");
            if (isAdmin){
                $.ajax({
                    type:"POST",
                    url: "delete/deletecontracts.php", //Relative or absolute path to response.php file
                    data:{'categories':id.row},
                    success: function(msg) {
                        alert(msg);
                        grid.remove(id.row);
                    }
                });

            }

            //block default onclick event
            return false;
        };
        grid.on_click.editbtns=function(e, ids, trg){
            //ids.column - column id
            //ids.row - row id
            var gridser = JSON.stringify(grid.serialize());
            gridser = JSON.parse(gridser);
            var datar = JSON.stringify(getObjects(gridser,'id',ids.row));
            $.ajax({
                type: "POST",
                url: "update/updatecontract.php", //Relative or absolute path to response.php file
                data: {'categories': datar},
                success: function(msg) {
                    alert(msg);
                }

            });
            //block default onclick event
            return false;
        };

    });

    function update() {
        var sel = grid.getSelectedId();
        if (!sel) return;

        var value = document.getElementById("value").value;
        var row = grid.getItem(sel.row);
        row[sel.column] = value;
        grid.updateItem(sel.row, row);
    }

    function add() {
        webix.ajax("insert/insertcontract.php?namber=" +gid('namber').value  +
        "&date=" + $$("datescon").getValue() +
        "&summ=" + gid('summs').value +
        "&price=" + gid('price').value +
        "&pricebyday=" + gid('pricebyday').value +
                "&idsmena="+idsmena
                , {
            success: function (text) {
                alert(text);
                grid.load('select/getallkontractbysmena.php?ides='+idsmena);

            }
        });
    }


    function remove_row() {
        var sel = grid.getSelectedId(true);
        if (!sel) return;
        for (var i = 0; i < sel.length; i++)
            grid.remove(sel[i].row);
    }





  </script>
  {% endblock %}
