{% extends "base.html" %}

{% block title %}Просмотр всех детей{% endblock %}
{% block customheadjs %}
    <style type="text/css">
        .nesquick{
            font-size: 45px !important;
            width: 100%;
        }
    </style>
{% endblock %}
{% block nav %}
<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="menu-list nav-active"><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
        <ul class="sub-menu-list">
            <li class="active"><a href="admin.php?np=good"><i class="fa fa-search"></i> <span>Обзор</span></a></li>
            <li><a href="admin.php?np=children_new"><i class="fa fa-plus"></i> <span>Добавить ребенка</span></a></li>
        </ul>
    </li>
    <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a></li>
    <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Контракты</span></a>
        <ul class="sub-menu-list">
            <li><a href="admin.php?np=kontrakt"><i class="fa fa-book"></i> <span>Обзор</span></a></li>
            <li><a href="admin.php?np=new_kontrakt"><i class="fa fa-plus"></i> <span>Добавить Контракт</span></a></li>
        </ul>
    </li>
    <li><a id="Myunidf" href="admin.php"><i class="fa fa-sign-out"></i> <span>Выход</span></a></li>

</ul>
{% endblock %}







{% block content %}
<header class="panel-heading custom-tab dark-tab">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#home2" data-toggle="tab">Реестр детей</a>
    </li>
    <li class="">
      <a href="#contact2" data-toggle="tab">Заявки для выбраного ребенка</a>
    </li>
    <li class="disabled">
          <a href="#contact3" class="disabled" data-toggle="tab">Добавление заявки выбраному личному делу</a>
    </li>

  </ul>
</header>
<div class="panel-body col-lg-12">
  <div class="tab-content">
    <div class="tab-pane active" id="home2">
      <div class="row" ><div id="datatbl" class="col-lg-12"></div>
  </div>
    </div>
    <div class="tab-pane" id="contact2">
        <div class="row fontbigs"> <div id="nesquick"></div></div><br />

        <div class="row" ><div id="datatblinfo" class="col-lg-12"></div>

 </div><br>
 <a class="btn btn-info btn-lg " onclick="showld()" href="#">Просмотр личного дела</a>
 <a class="btn btn-success btn-lg " onclick="addzayva()" href="#">Добавление заявки выбраному личному делу</a>
 <a class="btn btn-danger btn-lg " onclick="delld()" href="#">Удаление личного дела</a>


    </div>
      <div class="tab-pane" id="contact3">
          <div class="row" >
          <div class="form-group col-lg-12">
              <label class="col-md-2 col-sm-2 control-label">Место отдыха</label>
              <div class="col-md-6 col-sm-6">
                  <div id="resttypes"></div>

              </div>
          </div>
              </div>
          <div class="row" >
          <div class="form-group col-lg-12">
              <label class="col-md-2 col-sm-2 control-label">Период отдыха</label>
              <div class="col-md-6 col-sm-6">
                  <div id="resttimes"></div>

              </div>
          </div>
              </div>
          <div class="row" >
          <div id="resttimeforms" style="visibility:hidden;" class="form-group col-lg-12">
              <label class="col-md-2 col-sm-2 control-label">Выбор смены</label>
              <div class="col-md-6 col-sm-6">
                  <div id="resttimeobjs"></div>
              </div>
          </div>
              </div>
          <a class="btn btn-success btn-lg" onclick="insertnewzayava()" href="#">Добавить</a>



      </div>


  </div>
</div>




{% endblock %}
{% block customjs %}
<script charset="utf-8" type="text/javascript">
    var jsonss;

    $.ajax({
        url: "select/selecttype.php", dataType: "json", success: function (data) {
            jsonss = data;
        }
    });
    function datajson(id) {
        var valse = jsonss[id - 1];
        valse = valse.valuers;
        return (valse);
    }
webix.ui({
    container:'resttypes',
    view:'combo',
    id:'resttypecombo',
    width:400,height:45,
    options:'select/resttypeall.php'
});
webix.ui({
    container:'resttimes',
    view:'combo',
    id:'resttimecombo',
    width:400,

    options:[
        {id:1,value:'Весенние каникулы'},
        {id:2,value:'Летние каникулы'},
        {id:3,value:'Осенние каникулы'},
        {id:4,value:'Зимние каникулы'}
    ]
});
webix.ui({
    container:'resttimeobjs',
    view:'combo',
    id:'resttimeobjcombo',
    width:400,

    options:[
        {id:1,value:'1 Смена'},
        {id:2,value:'2 Смена'},
        {id:3,value:'3 Смена'},
        {id:4,value:'4 Смена'}
    ]
});
webix.ready(function(){
    var selectedid;
    webix.ui({
        view:"label",
        id:"nesquick",
        container:"nesquick",
        css:'nesquick',
        minWidth:800
    });


    webix.ui({
        container: 'datatbl',
        view: "datatable",
        id: 'datatable',
        onContext:{},
        columns: [
            { id: 'firstname',fillspace:true, header: ['Фамилия', {content: 'textFilter'}], width: 300, sort: 'string'},
            { id: 'name',fillspace:true, header: ['Имя', {content: 'textFilter'}], width: 300, sort: 'string'},
            { id: 'surname',fillspace:true, header: ['Отчество', {content: 'textFilter'}], width: 300, sort: 'string'},
            { id: 'event', header: "Вид отдыха", width: 80, sort: 'int'},
            { id: 'date', header: ['Дата рождения', {content: 'textFilter'}], width: 100, sort: 'string',
                format: webix.Date.dateToStr('%Y-%m-%d')}],
           url: 'select/get_all.php',height:550, select: 'row',scrollX:false, on:{
           onBeforeLoad:function(){
               this.showOverlay('Загрузка...');
           },
           onAfterLoad:function(){
               if (!this.count())
                   this.showOverlay('обновите старницу');
               else
                   this.hideOverlay();
           },onItemClick:function(id){
               selectedid = $$('datatable').getSelectedId(true).join();
                var selectedname = $$('datatable').getSelectedItem();
                console.log(selectedname['firstname']);
                $$('nesquick').setValue(selectedname['firstname']+" "+selectedname['name']+" "+selectedname['surname']);
                $$('datatable1').clearAll();
                $('.nav-tabs a[href="#' + "contact2" + '"]').tab('show');
                $$('datatable1').load('select/putevka.php?ides='+selectedid);



           }
       }
    });

   webix.ui({
        view:"contextmenu",
        id:"cmenu",
        data:["Просмотреть","Удалить"],
        on:{
            onItemClick:function(id){
                var context = this.getContext();
                if(this.getItem(id).id=="Просмотреть")
                    document.location.href = "admin.php?np=profile&id=" + context.id;
                //delete
                if(this.getItem(id).id=="Удалить"){
                    webix.ajax("delete/deletefromgood.php?id="+context.id);
                    $$("datatable").remove(context.id);
                }

            }
        }
    });
    webix.ui({
        container:'datatblinfo',
        view:'datatable',
        id:'datatable1',
        minHeight:200,
        autowidth:true,
        columns:[
            {id:'id',header:'№'},
            {id:'status',header:'Статус',template:function(obj){
                switch (obj.status){
                    case "1":
                        return "В очереди";
                        break;
                    case "2":
                        return "Принято";
                        break;
                    case "3":
                        return "Отказано";
                        break;
                    case "4":
                        return "Исполнено";
                        break;
                    default :
                        return "В очереди";
                        break;
                }
            }},
            {id:'year',header:'Год'},
            {id:'date',header:"Дата&nbsp;подачи",width:200,format: webix.Date.dateToStr('%Y-%m-%d')},
            {id:'type',header:'Направление', width:200,fillspace:true,template:function(obj){
                var idrype = parseInt(obj.type);

                return datajson(idrype);


            }
            },
            {id:'time',header:'Время&nbsp;отдыха',width:200,template:function(obj){
                switch (obj.time){
                    case "1":
                        return "Весенние каникулы";
                        break;
                    case "2":
                        return "Летние каникулы";
                        break;
                    case "3":
                        return "Осенние каникулы";
                        break;
                    case "4":
                        return "Зимние каникулы";
                        break;
                    default :
                        return "Заполнено не правильно";
                        break;

                }
            }
            },
            {id:'timeobj',header:'Смена',template:function(obj){
                switch (obj.timeobj){
                    case "1":
                        return "1 Смена";
                        break;
                    case "2":
                        return "2 Смена";
                        break;
                    case "3":
                        return "3 Смена";
                        break;
                    case "4":
                        return "4 Смена";
                        break;
                    default :
                        return " ";
                        break;

                }
            }
            }

        ]

    });
    $$("cmenu").attachTo($$("datatable"));
    $$("resttimecombo").attachEvent("onChange", function(){
        var values=$$("resttimecombo").getValue();
        if(values=='2'){
            document.getElementById('resttimeforms').style.visibility="visible";


        }
        else{
            document.getElementById('resttimeforms').style.visibility="hidden";
        }
    });
    webix.ui({
        view:"contextmenu",
        id:"cmenu1",
        data:["В очереди","Принято","Отказано","Исполнено"],
        on:{
            onItemClick:function(id){
                var context = this.getContext();
                if(this.getItem(id).id=="В очереди")
                    webix.ajax("update/reqedit.php?id="+context.id+"&ogid=1");
                else if(this.getItem(id).id=="Принято")
                    webix.ajax("update/reqedit.php?id="+context.id+"&ogid=2");
                else if(this.getItem(id).id=="Отказано")
                    webix.ajax("update/reqedit.php?id="+context.id+"&ogid=3");
                else if(this.getItem(id).id=="Исполнено")
                    webix.ajax("update/reqedit.php?id="+context.id+"&ogid=4");
                $$("datatable1").load('select/putevka.php?ides='+$$('datatable').getSelectedId(true).join());



            }
        }


    });
    $$("cmenu1").attachTo($$("datatable1"));

});
function delld(){
  selectedid = $$('datatable').getSelectedId(true).join();
  webix.ajax("delete/deletefromgood.php?id="+selectedid);
  $$("datatable").remove(selectedid);
  $('.nav-tabs a[href="#' + "home2" + '"]').tab('show');


}
function addzayva(){
    $('.nav-tabs a[href="#' + "contact3" + '"]').tab('show');

}

function showld(){
    document.location.href = "admin.php?np=profile&id=" + $$('datatable').getSelectedId(true).join();
}
function gid(eid){
    return document.getElementById(eid);
}
function insertnewzayava(){
    webix.ajax("insert/reqidnew.php?iduser="+$$('datatable').getSelectedId(true).join()+
            "&resttype="+$$("resttypecombo").getValue()+
            "&resttime="+$$("resttimecombo").getValue()+
            "&resttimeobj="+$$("resttimeobjcombo").getValue(),
            {success:function(text){
                if(text==1){
                    webix.alert({text:"Заявка добавлена"});
                    $$('datatable1').load('select/putevka.php?ides='+$$('datatable').getSelectedId(true).join())

                    $('.nav-tabs a[href="#' + "contact2" + '"]').tab('show');

                }else{
                    webix.alert({type:"alert-warning",text:"Повторите позже"});
                }}},

            {error:function(text, data, XmlHttpRequest){
                webix.alert({text:"Повторите позже"});
            }}
    );

}

$(".nav-tabs a[data-toggle=tab]").on("click", function(e) {
    if ($(this).hasClass("disabled")) {
        e.preventDefault();
        return false;
    }
});


</script>
{% endblock %}
