{% extends "base.html" %}
{% block title %}Реестр контрактов {% endblock %}
{% block nav %}

<ul class="nav nav-pills nav-stacked custom-nav">
    <li class="menu-list"><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
        <ul class="sub-menu-list">
            <li><a href="admin.php?np=good">Обзор</a></li>
            <li><a href="admin.php?np=children_new">Добавить ребенка</a></li>
        </ul>
    </li>
    <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a></li>
    <li class="menu-list  nav-active "><a href=""><i class="fa fa-building-o"></i> <span>Контракты</span></a>
        <ul class="sub-menu-list">
            <li class="active"><a href="admin.php?np=kontrakt">Обзор</a></li>
            <li><a href="admin.php?np=new_kontrakt">Добавить Контракт</a></li>
        </ul>
    </li>
    <li><a id="Myunidf" href="/"><i class="fa fa-sign-out"></i> <span>Выход</span></a></li>

</ul>

{% endblock %}
{% block content %}
            <div class="row" ><div id="datatbl" class="col-lg-12"></div> </div>
          {% endblock %}
{% block customjs %}

<script charset="utf-8" type="text/javascript">

    webix.ready(function(){

        webix.ui({
            container: 'datatbl',
            view: "datatable",
            id: 'datatable',
            onContext:{},
            columns: [
                { id: 'name',fillspace:true, header: ["Наименование учереждения", {content: 'textFilter'}], width: 300, sort: 'string'}
                ],

               url: 'select/get_all_kontrakt.php',height:550, select: 'row',scrollX:false, on:{
               onBeforeLoad:function(){
                   this.showOverlay('Загрузка...');
               },onSelectChange:function(){
                 var selectedid = $$('datatable').getSelectedId(true).join();
                    document.location.href = "admin.php?np=contraktprofile&id=" + selectedid;
               },
               onAfterLoad:function(){
                   if (!this.count())
                       this.showOverlay('Нет данных для показа');
                   else
                       this.hideOverlay();
               }
        }});

       webix.ui({
            view:"contextmenu",
            id:"cmenu",
            data:["Просмотреть","Удалить"],
            on:{
                onItemClick:function(id){
                    var context = this.getContext();
                    if(this.getItem(id).id=="Просмотреть")
                        document.location.href = "admin.php?np=contraktprofile&id=" + context.id;
                    //delete
                    if(this.getItem(id).id=="Удалить"){
                        webix.ajax("delete/deletefromkontrakt.php?id="+context.id);
                        $$("datatable").remove(context.id);
                    }

                }
            }
        });

        $$("cmenu").attachTo($$("datatable"));

    });

</script>
{% endblock %}
