{% extends "base.html" %} {% block title %}Новый контракт {% endblock %} {% block customheadjs %}

<script>
  function getQueryVariable(variable) {
    var query = window.location.search.substring(1);
    var vars = query.split("&");
    for (var i = 0; i < vars.length; i++) {
      var pair = vars[i].split("=");
      if (pair[0] == variable) {
        return pair[1];
      }
    }
    return (false);
  }
</script>
{% endblock %} {% block nav %}

<ul class="nav nav-pills nav-stacked custom-nav">
  <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
    <ul class="sub-menu-list">
      <li><a href="admin.php?np=good">Обзор</a>
      </li>
      <li><a href="admin.php?np=children_new">Добавить ребенка</a>
      </li>
    </ul>
  </li>
  <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a>
  </li>
  <li class="menu-list nav-active"><a href=""><i class="fa fa-building-o"></i> <span>Контракты</span></a>
    <ul class="sub-menu-list">
      <li><a href="admin.php?np=kontrakt">Обзор</a>
      </li>
      <li class="active"><a href="admin.php?np=new_kontrakt">
         Добавить Контракт</a>
      </li>
    </ul>
  </li>
  <li><a id="Myunidf" href="/"><i class="fa fa-sign-out"></i> <span>Выход</span></a>
  </li>
</ul>
{% endblock %} {% block heading %}

<div class="page-heading">
  <h3>Добавление нового контракта</h3>
  <ul class="breadcrumb">
    <li><a href="admin.php?np=kontrakt"> Реестр контрактов</a>
    </li>
    <li class="active">Добавление нового контракта</li>
  </ul>

</div>

{% endblock %} {% block content %}

<div class="row">
  <form role="form">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">

          <div class="panel">
            <header class="panel-heading">Информация о контракте </header>
            <div class="panel-body">
              <div class="profile-desk">
                  <div class="form-group">
                      <label for="resttype">Вид отдыха</label>

                      <div id="resttype"></div>
                  </div>
                <div class="form-group">
                  <label for="nameinp">Оздоровительное учереждение</label>
                  <input type="text" class="form-control" id="nameinp" required="">
                </div>
                <div class="form-group">
                  <div id="whensid"></div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="clearfix"></div>
    <div class="col-md-6">
      <div class="panel">
        <div class="panel-body">
          <div class="profile-desk">
            <div class="btn-group btn-group-justified">
              <a class="btn btn-success btn-lg" onclick="sendsave()">Добавить</a>
              <a class="btn btn-danger btn-lg" href="#" onclick="window.history.back()">Отменить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
{% endblock %} {% block customjs %}


<script>
  webix.ready(function() {
    webix.ui({
      container:'whensid',
      id:'whensid',
      view:'combo',
      label:"Период",
      options: 'select/get_all_whens.php'
    });
      webix.ui({
          container:'resttype',
          view:'combo',
          id:'resttypecombo',
          options:'select/resttypeall.php'
      });

  });
</script>
<script>
  function gid(eid) {
    return document.getElementById(eid);
  }


  function sendsave() {
    webix.ajax("insert/new_kontrakt_insert.php?nameinp=" + gid('nameinp').value +

      "&whens="+$$("whensid").getValue()+
            "&types="+$$('resttypecombo').getValue()
      , {
        success: function(text) {
          if (text == 0) {
            webix.alert({
              text: "Данные добавлены",
              callback: function() {
                document.location.href = "admin.php";

              }
            });
          } else {
            webix.alert({
              type: "alert-warning",
              text: "Повторите позже",
              callback: function() {
                document.location.href = "admin.php";

              }
            });
          }
        }
      },

      {
        error: function(text, data, XmlHttpRequest) {
          webix.alert({
            text: "Повторите позже"
          });
        }
      }
    );
  }

</script>
{% endblock %}
