{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block customheadjs %}
    <script>
        function getQueryVariable(variable)
        {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i=0;i<vars.length;i++) {
                var pair = vars[i].split("=");
                if(pair[0] == variable){return pair[1];}
            }
            return(false);

        }
    </script>
    {% endblock %}

    {% block nav %}
    <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
            <ul class="sub-menu-list">
                <li><a href="admin.php?np=good">Обзор</a></li>
                <li><a href="admin.php?np=children_new">Добавить ребенка</a>
                </li>

            </ul>
        </li>
        <li class="menu-list nav-active"><a href=""><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a>
            <ul class="sub-menu-list">
                <li><a href="admin.php?np=request">Обзор</a></li>
                <li class="active"><a href="admin.php?np=profilereq">
                    Просмотр</a></li>

          </ul>
        </li>
        <li class="menu-list "><a href=""><i class="fa fa-building-o"></i> <span>Контракты</span></a>
            <ul class="sub-menu-list">
                <li><a href="admin.php?np=kontrakt">Обзор></a></li>
                <li><a href="admin.php?np=new_kontrakt">Добавить Контракт</a>
                </li>
            </ul>
        </li>
        <li><a id="Myunidf" href="/"><i class="fa fa-sign-out"></i> <span>Выход</span></a></li>

    </ul>
            {% endblock %}

            {% block heading %}

        <div class="page-heading">
            <h3 id="headernames">Фамилия Имя Отчество</h3>
            <ul class="breadcrumb">
                <li><a href="admin.php?np=request"> Реестр Заявок</a></li>
                <li class="active">Информация о Заявке</li>
            </ul>

        </div>
        {% endblock %}

        {% block content %}

            <div class="row">
                <form>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel">
                                <header class="panel-heading">Информация о ребенке </header>
                                <div class="panel-body">
                                    <div class="profile-desk">
                                        <div class="form-group">
                                            <label for="fioinp">Фамилия</label>
                                            <input type="text" class="form-control" id="fioinp" required="">
                                        </div>
                                            <div class="form-group">
                                                <label for="nameinp">Имя</label>
                                                <input type="text" class="form-control" id="nameinp" required="">
                                            </div>

                                            <div class="form-group">
                                                <label for="lastinp">Отчество</label>
                                                <input type="text" class="form-control" id="lastinp" required="">
                                            </div>
                                        <div class="form-group">
                                            <label for="svid">Свидетельство о рождении / паспорт</label>
                                            <input type="text" class="form-control" id="svid" required="">
                                        </div>
                                            <div class="form-group">
                                                <label for="celdr">Дата рождения</label>
                                                <div id="celdr"></div>
                                            </div>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>

                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel">
                                <header class="panel-heading">Информация о законном представителе </header>
                                <div class="panel-body">
                                    <div class="profile-desk">
                                        <label for="fioroditelya">Отношение и ФИО </label>
                                        <input type="text" class="form-control" id="fioroditelya">
                                    </div>
                                    <div class="profile-desk">
                                        <label for="workstation">Место работы </label>
                                        <input type="text" class="form-control" id="workstation">
                                    </div>

                                </div>
                            </div>
                            <div class="panel">
                                <header class="panel-heading">Контактные телефоны</header>
                                <div class="panel-body">
                                    <div class="profile-desk">

                                        <div class="form-group">
                                            <label for="mobilinp">Контакты</label>
                                            <input type="text" class="form-control" id="mobilinp" >
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <header class="panel-heading">Учебное заведение</header>
                                <div class="panel-body">
                                    <div class="profile-desk">

                                        <div class="form-group">
                                            <label for="mobilinp">Школа</label>
                                            <div id="scholl"></div>
                                        </div>
                                         <div class="form-group">
                                            <label for="mobilinp">Класс</label>
                                            <input type="text" class="form-control" id="class" >
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                    <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="profile-desk">
                                <div class="btn-group btn-group-justified">
                                    <a class="btn btn-success btn-lg" onclick="sendsave()" >Сохранить</a>
                                    <a class="btn btn-danger btn-lg" onclick="window.history.back();"
                                       href="">Отменить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>

            </div>
            {% endblock %}



            {% block customjs %}


<script>
    webix.ready(function(){
        webix.ui({
            container:'celdr',inputWidth:150,view:'datepicker',name:'date',id:'date',stringResult:true
        });
        });
        webix.ui({
            container:'scholl',
            view:"combo",
            id:"scholl",
            options: 'select/scholl.php'

        });




</script>
<script>
    function gid(eid){
        return document.getElementById(eid);
    }
    var ids = getQueryVariable('id');
    webix.ready(function() {


        webix.ajax('select/getprofilereq.php?id='+ids,function(text){
            var jsons = jQuery.parseJSON(text);


            gid('headernames').innerHTML = jsons[0].firstname+' '+jsons[0].name+' '+jsons[0].surname;
            gid('nameinp').value = jsons[0].name;
            gid('fioinp').value = jsons[0].firstname;
            gid('lastinp').value = jsons[0].surname;
            gid('svid').value = jsons[0].doc;
            gid('fioroditelya').value = jsons[0].fiorod;
            gid('workstation').value = jsons[0].workstation;
            gid('mobilinp').value = jsons[0].tel;
            $$('scholl').setValue(jsons[0].scholl);
            gid('class').value = jsons[0].class;
            $$("date").setValue(jsons[0].date);





        } );
    });
    function sendsave(){
        webix.ajax("insert/savereq.php?nameinp="      +   gid('nameinp').value +
                                "&fioinp="      +   gid('fioinp').value +
                                "&lastinp="     +   gid('lastinp').value +
                                "&svid="        +   gid('svid').value +
                                "&fioroditelya="+   gid('fioroditelya').value +
                                "&workstation=" +   gid('workstation').value +
                                "&mobilinp="    +   gid('mobilinp').value +
                                "&date="        +   $$('date').getValue() +
                                "&class="       +   gid('class').value+
                                "&scholl="      +   $$('scholl').getValue()+
                                "&ids="         +   ids,
            {success:function(text){
                if(text==0){
                    webix.alert({text:"Данные обновлены"});
document.location.href = "admin.php?np=good";
                }else{
                    webix.alert({type:"alert-warning",text:"Повторите позже"});
                }}},

            {error:function(text, data, XmlHttpRequest){
                webix.alert({text:"Повторите позже"});
            }}
        );
    }


</script>

{% endblock %}
