{% extends "base.html" %}

{% block title %}Профиль{% endblock %}
{% block customheadjs %}
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] == variable) {
                    return pair[1];
                }
            }
            return (false);
        }

    </script>
{% endblock %}

    {% block nav %}


        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="menu-list nav-active"><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
                <ul class="sub-menu-list">
                    <li><a href="admin.php?np=good"><i class="fa fa-search"></i> <span>Обзор</span></a></li>
                    <li class="active"><a href="admin.php?np=profile"> <span>Просмотр</span></a></li>
                    <li><a href="admin.php?np=children_new"><i class="fa fa-plus"></i> <span>Добавить ребенка</span></a>
                    </li>

                </ul>
            </li>
            <li><a href="admin.php?np=request"><i class="fa fa-envelope"></i> <span>Реестр заявок</span></a></li>
            <li class="menu-list "><a href=""><i class="fa fa-home"></i> <span>Контракты</span></a>
                <ul class="sub-menu-list">
                    <li><a href="admin.php?np=kontrakt"><i class="fa fa-book"></i> <span>Обзор</span></a></li>
                    <li><a href="admin.php?np=new_kontrakt"><i class="fa fa-plus"></i>
                            <span>Добавить Контракт</span></a></li>
                </ul>
            </li>
            <li><a id="Myunidf" href="/"><i class="fa fa-sign-out"></i> <span>Выход</span></a></li>

        </ul>
    {% endblock %}

        {% block heading %}

            <div class="page-heading">
                <h3 id="headernames">Фамилия Имя Отчество</h3>
                <ul class="breadcrumb">
                    <li><a href="admin.php?np=good"> Реестр детей</a></li>
                    <li class="active">Информация о ребенке</li>
                </ul>

            </div>
        {% endblock %}

        {% block content %}

            <div class="row">
                <form>
                    <div class="panel">
                        <div class="panel-body">
                            <section class="panel">
                                <header class="panel-heading custom-tab dark-tab">
                                    <ul class="nav nav-tabs">
                                        <li class="active">
                                            <a href="#home2" data-toggle="tab">Информация</a>
                                        </li>
                                        <li class="">
                                            <a href="#contact2" data-toggle="tab">Заявки</a>
                                        </li>
                                        <li class="">
                                            <a href="#contact3" data-toggle="tab">Контракты</a>
                                        </li>
                                        <li class="">
                                            <a href="#contact4" data-toggle="tab">Привязать контракт</a>
                                        </li>
                                    </ul>
                                </header>
                                <div class="panel-body">
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="home2">


                                            <div class="col-md-4">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                        <div class="panel">
                                                            <header class="panel-heading">Информация о ребенке</header>
                                                            <div class="panel-body">
                                                                <div class="profile-desk">
                                                                    <div class="form-group">
                                                                        <label for="fioinp">Фамилия</label>
                                                                        <input type="text" class="form-control"
                                                                               id="fioinp" required="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="nameinp">Имя</label>
                                                                        <input type="text" class="form-control"
                                                                               id="nameinp" required="">
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label for="lastinp">Отчество</label>
                                                                        <input type="text" class="form-control"
                                                                               id="lastinp" required="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="svid">Свидетельство о рождении /
                                                                            паспорт</label>
                                                                        <input type="text" class="form-control"
                                                                               id="svid" required="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <div id="celdr"></div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="adrregs">Адрес регистрации</label>
                                                                        <input type="text" class="form-control"
                                                                               id="adrregs" required="">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="adrfact">Адрес фактический</label>
                                                                        <input type="text" class="form-control"
                                                                               id="adrfact" required="">
                                                                    </div>
                                                                    <div class="panel">
                                                                        <header class="panel-heading">Информация о законном
                                                                            представителе
                                                                        </header>
                                                                        <div class="panel-body">
                                                                            <div class="profile-desk">
                                                                                <label for="fioroditelya">Отношение и ФИО </label>
                                                                                <input type="text" class="form-control"
                                                                                       id="fioroditelya">
                                                                            </div>
                                                                            <div class="profile-desk">
                                                                                <label for="workstation">Место работы </label>
                                                                                <input type="text" class="form-control"
                                                                                       id="workstation">
                                                                            </div>

                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="panel">
                                                            <header class="panel-heading">Льготная категория</header>
                                                            <div class="panel-body">
                                                                <div class="profile-desk">

                                                                    <div id="lgotkat"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="panel">
                                                            <header class="panel-heading">Учебное заведение</header>
                                                            <div class="panel-body">
                                                            <div class="form-group">
                                                            <label for="scholl"></label>

                                                            <div id="scholl"></div>

                                                        </div>
                                                        <div class="form-group">
                                                            <label for="classname">Класс</label>
                                                            <input type="text" class="form-control"
                                                                   id="classname" required="">
                                                        </div></div>
                                                            </div>


                                                        <div class="panel">
                                                            <header class="panel-heading">Контактные телефоны</header>
                                                            <div class="panel-body">
                                                                <div class="profile-desk">
                                                                    <div class="form-group">
                                                                        <label for="rabotainp">Рабочий</label>
                                                                        <input type="text" class="form-control"
                                                                               id="rabotainp">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="homeinp">Домашний</label>
                                                                        <input type="text" class="form-control"
                                                                               id="homeinp">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="mobilinp">Сотовый</label>
                                                                        <input type="text" class="form-control"
                                                                               id="mobilinp">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="emailinp">Адрес электронной
                                                                            почты</label>
                                                                        <input type="text" class="form-control"
                                                                               id="emailinp">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="panel">
                                                    <div class="panel-body">
                                                        <div class="profile-desk">
                                                            <div class="btn-group btn-group-justified">
                                                                <a class="btn btn-success btn-lg" onclick="sendsave()">Сохранить</a>
                                                                <a class="btn btn-danger btn-lg" onclick="window.history.back();" href="#">Отменить</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="tab-pane col-lg-12" id="contact2">
                                            <div class="col-lg-10">
                                                <div id="mer"></div>
                                            </div>
                                        </div>
                                        <div class="tab-pane col-lg-12" id="contact3">
                                            <div class="col-lg-8">
                                                <div id="allcontract"></div>
                                            </div>

                                        </div>
                                        <div class="tab-pane col-lg-12" id="contact4">
                                            <div class="col-lg-8">
                                                <div id="addcontract"></div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </section>
                        </div>
                    </div>


                </form>

            </div>

        {% endblock %}



            {% block customjs %}

                <script>
                    var idses = getQueryVariable('id');
                    var jsonss;
                    var gettimeobjcombo;

                    var selectcontract;

                    var jsonss1;

                    $.ajax({
                        url: "select/selectperiods.php", dataType: "json", success: function (data) {
                            jsonss1 = data;
                        }
                    });
                    function datajson1(id) {
                        var valse1 = jsonss1[id - 1];
                        valse1 = valse1.valuers;
                        return (valse1);
                    }


                    //selecttype
                    $.ajax({
                        url: "select/selecttype.php", dataType: "json", success: function (data) {
                            jsonss = data;
                        }
                    });
                    // selectcontract
                    $.ajax({
                        url: "select/selectcontract.php", dataType: "json", success: function (data) {
                            selectcontract = data;
                        }
                    });
                    //datajson
                    function datajson(id) {
                        var valse = jsonss[id - 1];
                        valse = valse.valuers;
                        return (valse);
                    }
                    //datajsoncontract
                    function datajsoncontract(id) {
                        var valse = selectcontract[id - 1];
                        valse = valse.valuers;
                        return (valse);
                    }

                    //webixready1
                    webix.ready(function () {
                        //celdr
                        webix.ui({
                            container: 'celdr',
                            view: 'datepicker',
                            name: 'date',
                            id: 'date',
                            labelWidth: 115,
                            label: 'Дата рождения',
                            stringResult: true

                        });
                        //scholl
                        webix.ui({
                            container: 'scholl',
                            view: 'combo',
                            id: 'school',
                            options: 'select/scholl.php'
                        });
                        //lgotkat
                        webix.ui({
                            container: 'lgotkat',
                            view: 'combo',
                            id: 'lgotkats',
                            options: 'select/lgotkat.php'
                        });

                        //mer
                        webix.ui({
                            container: 'mer',
                            view: 'datatable',
                            minHeight: 200,
                            autowidth: true,
                            onContext: {},

                            id: 'datatable',
                            editable: true,
                            resizeColumn:true,

                            columns: [

                                {id: 'id', header: ['№']},
                                {
                                    id: 'status', header: ['Статус'], sort: 'string', template: function (obj) {
                                    switch (obj.status) {
                                        case "1":
                                            return "В очереди";
                                            break;
                                        case "2":
                                            return "Принято";
                                            break;
                                        case "3":
                                            return "Отказано";
                                            break;
                                        case "4":
                                            return "Исполнено";
                                            break;
                                        default :
                                            return "В очереди";
                                            break;
                                    }
                                }
                                },
                                {id: 'year', header: ['Год'], sort: 'string'},
                                {id: 'date', header: ['Дата'], sort: 'string'},
                                {id: 'type', header: ['Вид отдыха'], sort: 'string', fillspace: true},
                                {id: 'whens', header: ["Время отдыха"], width: 150, fillspace: true, sort: 'string'},
                                {id: 'time', header: ["Лагерь"], sort: 'string', fillspace: true},
                                {id: 'timeobj', header: ['Смена'], sort: 'string'}
                            ],
                            url: 'select/putevka.php?ides=' + idses, select: "row",
                            on: {
                                onSelectChange: function () {
                                    var selectedid;
                                    selectedid = $$('datatable').getSelectedId(true).join();

                                }

                            }

                        });
                        //merend
                        //contextmenu
                        webix.ui({
                            view: "contextmenu",
                            id: "cmenu",
                            data: ["В очереди", "Принято", "Отказано", "Исполнено"],
                            on: {
                                onItemClick: function (id) {
                                    var context = this.getContext();
                                    if (this.getItem(id).id == "В очереди")
                                        webix.ajax("update/reqedit.php?id=" + context.id + "&ogid=1");
                                    else if (this.getItem(id).id == "Принято")
                                        webix.ajax("update/reqedit.php?id=" + context.id + "&ogid=2");
                                    else if (this.getItem(id).id == "Отказано")
                                        webix.ajax("update/reqedit.php?id=" + context.id + "&ogid=3");
                                    else if (this.getItem(id).id == "Исполнено")
                                        webix.ajax("update/reqedit.php?id=" + context.id + "&ogid=4");
                                    $$("datatable").load('select/putevka.php?ides=' + idses);


                                }
                            }


                        });
                        //endcontextmenu
                        $$("cmenu").attachTo($$("datatable"));

                    });
                    //endwebixready1


                </script>
                <script>
                    function gid(eid) {
                        return document.getElementById(eid);
                    }
                    var ids = getQueryVariable('id');
                    //webixready2
                    webix.ready(function () {
                        webix.ajax('select/getprofile.php?id=' + ids, function (text) {
                            var jsons = jQuery.parseJSON(text);


                            gid('headernames').innerHTML = jsons[0].firstname + ' ' + jsons[0].name + ' ' + jsons[0].surname;
                            gid('nameinp').value = jsons[0].name;
                            gid('fioinp').value = jsons[0].firstname;
                            gid('lastinp').value = jsons[0].surname;
                            gid('svid').value = jsons[0].doc;
                            gid('adrregs').value = jsons[0].adr;
                            gid('adrfact').value = jsons[0].adrfact;
                            gid('classname').value = jsons[0].class;
                            gid('fioroditelya').value = jsons[0].fioroditelya;
                            gid('workstation').value = jsons[0].workstation;
                            gid('rabotainp').value = jsons[0].rabota;
                            gid('homeinp').value = jsons[0].home;
                            gid('mobilinp').value = jsons[0].mobile;
                            gid('emailinp').value = jsons[0].email;
                            $$('date').setValue(jsons[0].date);
                            $$('school').setValue(jsons[0].scholl);
                            $$('lgotkats').setValue(jsons[0].katlgot);


                        });
//addcontract
                        webix.ui({
                            view:"form",
                            container:"addcontract",
                            scroll:false,
                            width:500,
                            rows:[
                                {
                                    id:"get_all_kontraktcombo",
                                    label: "Выберите лагер и смену",
                                    labelWidth:200,
                                    view:"combo",
                                    options: 'select/get_all_kontraktcomboprofile.php'
                                },
                                {
                                    id: "gettimeobjcombo",
                                    label: "Выберите Смену",
                                    view: "list",
                                    width: 320,
                                    hidden: true,
                                    autoheight: true,
                                    select: true,
                                    on: {
                                        onItemClick: function (id) {
                                            gettimeobjcombo = this.getItem(id).id;
                                            $$("btnaddkontract").show();

                                        }
                                    }
                                },
                                {
                                    id:"btnaddkontract",
                                    view:"button",
                                    hidden:true,
                                    value:"Добавить",
                                    click:function(){
                                        webix.ajax("insert/addkotrakttoprofile.php?val1="+ids+
                                                "&val2="+$$('get_all_kontraktcombo').getValue()+
                                                "&val3="+gettimeobjcombo,
                                                {success:function(text){
                                                    if(text==0){
                                                        webix.alert({text: "Данные добавлены", callback:function(){
                                                            location.reload();

                                                        }});
                                                    }else{
                                                        webix.alert({type:"alert-warning",text:"Повторите позже",callback:function(){
                                                            location.reload();

                                                        }});
                                                    }
                                                }}
                                        );
                                    }
                                }

                            ]

                        });
                        $$("get_all_kontraktcombo").attachEvent("onChange", function(){
                            var values=$$("get_all_kontraktcombo").getValue();
                            $$("gettimeobjcombo").clearAll();
                            $$("btnaddkontract").hide();
                            gettimeobjcombo=null;
                            $$("gettimeobjcombo").load("select/gettimeobj.php?idcontract="+values);
                            $$("gettimeobjcombo").show();
                        });

//allcontract
                        webix.ui({
                            container: "allcontract",
                            view: "datatable",
                            id: "allchildcontract",
                            minHeight: 200,
                            autowidth: true,
                            onContext: {},
                            columns: [
                                    {id: 'id', header: '№'},
                                    {id: 'idkont', width: 300, header: "Наименование учереждения", fillspace: true, template: function (obj) {var idrype = parseInt(obj.idkont);return datajsoncontract(idrype);}},
                                    {id: 'idsmena', header: 'Смена', template: function (obj) {
                                        var idrype = parseInt(obj.idsmena);

                                        return datajson1(idrype);



                                    }},
                                {id: 'idstatus', header: 'Статус', template: function (obj) {
                                    switch (obj.status) {
                                        case "0":
                                            return "Добавлено";
                                            break;
                                        case "1":
                                            return "Отменено";
                                            break;
                                        case "2":
                                            return "Исполнено";
                                            break;
                                        default :
                                            return " ";
                                            break;

                                    }
                                }}

                            ],
                            url: 'select/contractchild.php?ides=' + idses, select: "row",
                            on: {
                                onItemClick: function () {
                                    var selectedid;
                                    selectedid = $$('allchildcontract').getSelectedId(true).join();

                                }
                            }

                        });
                        webix.ui({
                            view: "contextmenu",
                            id: "cmenu1",
                            data: ["Отменено", "Исполнено","Удалить"],
                            on: {
                                onItemClick: function (id) {
                                    var context = this.getContext();
                                    if (this.getItem(id).id == "Отменено")
                                        webix.ajax("update/contractchildedit.php?id=" + context.id + "&ogid=1");
                                    else if (this.getItem(id).id == "Исполнено")
                                        webix.ajax("update/contractchildedit.php?id=" + context.id + "&ogid=2");
                                    else if (this.getItem(id).id == "Удалить") {
                                        webix.ajax("update/contractchildedit.php?id=" + context.id + "&ogid=3");
                                        $$("allchildcontract").remove(context.id);

                                    }

                                    $$("allchildcontract").load('select/contractchild.php?ides=' + idses);


                                }
                            }


                        });
                        //endcontextmenu
                        $$("cmenu1").attachTo($$("allchildcontract"));

                    });
                    function sendsave() {
                        webix.ajax("update/updatedb.php?nameinp=" + gid('nameinp').value +
                                "&fioinp=" + gid('fioinp').value +
                                "&lastinp=" + gid('lastinp').value +
                                "&svid=" + gid('svid').value +
                                "&adrregs=" + gid('adrregs').value +
                                "&adrfact=" + gid('adrfact').value +
                                "&classname=" + gid('classname').value +
                                "&fioroditelya=" + gid('fioroditelya').value +
                                "&workstation=" + gid('workstation').value +
                                "&rabotainp=" + gid('rabotainp').value +
                                "&homeinp=" + gid('homeinp').value +
                                "&mobilinp=" + gid('mobilinp').value +
                                "&emailinp=" + gid('emailinp').value +
                                "&date=" + $$('date').getValue() +
                                "&school=" + $$('school').getValue() +
                                "&lgotkats=" + $$('lgotkats').getValue() +
                                "&ids=" + ids,
                                {
                                    success: function (text) {
                                        if (text == 0) {
                                            webix.alert({text: "Данные обновлены"});
                                        } else {
                                            webix.alert({type: "alert-warning", text: "Повторите позже"});
                                        }
                                    }
                                },

                                {
                                    error: function (text, data, XmlHttpRequest) {
                                        webix.alert({text: "Повторите позже"});
                                    }
                                }
                        );
                    }
                    function btnclick() {
                        var expdata = {
                            "expnameinp":""+ gid("nameinp").value+"",
                            "expfioinp":""+ gid("fioinp").value+"",
                            "explastinp": ""+gid("lastinp").value+"",
                            "expsvid": ""+gid("svid").value+"",
                            "expadrregs":""+ gid("adrregs").value+"",
                            "expadrfact":""+ gid("adrfact").value+"",
                            "expclassname": ""+gid("classname").value+"",
                            "expfioroditelya":""+ gid("fioroditelya").value+"",
                            "expworkstation":""+ gid("workstation").value+"",
                            "exprabotainp":""+ gid("rabotainp").value+"",
                            "exphomeinp": ""+gid("homeinp").value+"",
                            "expmobilinp": ""+gid("mobilinp").value+"",
                            "expemailinp":""+ gid("emailinp").value+"",
                            "expdate": ""+$$("date").getValue()+"",
                            "expschool":""+ $$("school").getValue()+"",
                            "explgotkats":""+ $$("lgotkats").getValue()+"",
                            "expallreqandkontrid": ids
                        };
//                        $.ajax({
//                            type: 'POST',
//                            url: 'exports/export.php',
//                            data: {json: JSON.stringify(expdata)},
//                            dataType: 'json'
//
//                        });
                        if($.cookie("datatoprint")){
                            $.removeCookie("datatoprint");
                        }
                        $.cookie("datatoprint",''+JSON.stringify(expdata)+'',{expires: 1});
                        //console.log(JSON.parse(JSON.stringify(expdata)));
                        console.log($.cookie("datatoprint"));
                        location.href = "exports/export.php";
                        return false;


                    }

                    $("<a class='prints' href='#' onClick='btnclick();'>Распечатать Личное дело</a>").insertAfter('.toggle-btn');

                </script>
            {% endblock %}
