{% extends "base.html" %}

{% block title %}Просмотр всех Заявок{% endblock %}

{% block nav %}

            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="menu-list"><a href=""><i class="fa fa-home"></i> <span>Реестр детей</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="admin.php?np=good">Обзор</a></li>
                        <li><a href="admin.php?np=children_new">Добавить ребенка</a>
                        </li>
                    </ul>
                </li>
                <li class="active"><a href="admin.php?np=request"><i class="fa fa-envelope"></i>
                        <span>Реестр заявок</span></a></li>
                <li class="menu-list "><a href=""><i class="fa fa-building-o"></i> <span>Контракты</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="admin.php?np=kontrakt">Обзор</a></li>
                        <li><a href="admin.php?np=new_kontrakt">Добавить Контракт</a></li>
                    </ul>
                </li>
                <li><a id="Myunidf" href="/"><i class="fa fa-sign-out"></i> <span>Выход</span></a></li>

            </ul>
            <!--sidebar nav end-->
            {% endblock %}

            {% block heading %}

        <div class="page-heading">
            <h3>Список заявок</h3>
        </div>
        {% endblock %}


{% block content %}
        <div class="wrapper">
            <div class="row">
                <div id="datatbl" class="col-lg-12"></div>
            </div>
        </div>
        {% endblock %}

{% block customjs %}
<script>
    var jsonss;
    $.ajax({
        url: "select/selecttype.php", dataType: "json", success: function (data) {
            jsonss = data;
        }
    });

    webix.ready(function(){
        function datajson(id) {
            id = id - 1;
            var valse = jsonss[id];
            valse = valse.valuers;
            return (valse);
        }
        webix.ui({
            container:'datatbl',
            view:"datatable",
            id:"datatabl",
            onContext:{},
            columns:[
                {id:'id',header:['№']},
                {id:'status',header:['Статус'],sort:'string',template:function(obj){
                    switch (obj.status){
                        case "1":
                            return "В очереди";
                            break;
                        case "2":
                            return "Принято";
                            break;
                        case "3":
                            return "Отказано";
                            break;
                        case "4":
                            return "Исполнено";
                            break;
                        default :
                            return "В очереди";
                            break;
                    }
                }},
                {id:'year',header:['Год'],sort:'string'},
                {id:'date',header:['Дата'],sort:'string'},
                {id: 'type', header: ['Вид отдыха'], sort: 'string', fillspace: true},
                {id: 'whens', header: ["Время отдыха"], fillspace: true, sort: 'string'},
                {id: 'time', header: ["Лагерь"], sort: 'string', fillspace: true},
                {id: 'timeobj', header: ['Смена'], sort: 'string'}

            ],
            url:'select/get_req.php',autoheight:true,scrollX:false,select: 'row',on:{
            onSelectChange:function(){
                var selectedid = $$("datatabl").getSelectedId(true).join();

                document.location.href = "admin.php?np=profilereq&id=" + selectedid;
            }
            }


        });
        webix.ui({
            view:"contextmenu",
            id:"cmenu",
            data:["Просмотреть"],
            on:{
                onItemClick:function(id){
                    var context = this.getContext();
                    if(this.getItem(id).id=="Просмотреть")
                        document.location.href = "admin.php?np=profilereq&id=" + context.id;
                    else
                        webix.alert("error");


                }
            }
        });
        $$("cmenu").attachTo($$("datatabl"));
    });

</script>
{% endblock %}
